doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Resume

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.3.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Rohit Marathe
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.jpg', alt='...')
            button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Education
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Skills
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#interests') Interests
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#projects') Projects
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#awards') Awards

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        | Rohit      
                        span.text-primary Marathe
                    .subheading.mb-5
                        | 520 E chruch st Orlando FL · (407) 666-7637· 
                        a(href='mailto:rohitmarathe1995@email.com') rohitmarathe1995@gmail.com
                    p.lead.mb-5
                        | Software Engineer | NLP | Conversation AI | IVR | Universal Bots | Generative AI | LLM
                    .social-icons
                        a.social-icon(href='https://linkedin.com/in/rohit-marathe-ucf/')
                            i.fab.fa-linkedin-in
                        a.social-icon(href='https://github.com/rpm360/')
                            i.fab.fa-github

            hr.m-0

            // Experience
            section#experience.resume-section
               .resume-section-content
                    h2.mb-5 Experience

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Software Engineer
                            .subheading.mb-3 Kore.ai
                            p
                                | • Developed and integrated more than 20 bots using SDK and Botkits of Kore.ai on different domains such as retail, banking, health care, and e-commerce.
                                br
                                | • Improved NLP accuracy by 11% and created custom dashboards to track retention rates and reduce customer drop-off rates.
                                br
                                | • Designed and implemented the chatbot’s dialogue flow to seamlessly communicate with external applications such as security gateway, payment services, and CRM system.
                                br
                                | • Collaborated with the team to improve the chatbot’s Net Promoter Score, which measures customer satisfaction. Implemented advanced features such as sentiment engine, entity recognition, and intent not identified for more precise and engaging user interactions.
                                br
                                | • Few-Shot Learning Mastery: Utilized Few-Shot Learning techniques for rapid model adaptation and fine-tuning to specific use cases.
                                br
                                | • Zero-Shot Efficiency: Proficient in Zero-Shot and Few-Shot methods, optimizing AI model implementations.
                        .flex-shrink-0
                            span.text-primary July 2021 - Present

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Technical Developer Intern
                            .subheading.mb-3 Kore.ai
                            p
                                | #{'• As a collaborative team player, I worked closely with cross-functional stakeholders including developers, QA, and business teams to ensure the chatbots met all requirements and delivered a seamless user experience. Through my commitment to delivering high-quality chatbot solutions.'}
                                br
                                | #{'• Drove a PDF extraction tool to extract the table of content, images, figures, and text. Altered the code to make it compatible with a different PDF doc. Resulted in planned release.'}
                        .flex-shrink-0
                            span.text-primary Jun 2020 - May 2021

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Software Developer
                            .subheading.mb-3 TIBCO Software
                            p
                                | • Build a tool to extract SQL statements and enhanced the queries which led to improved API responses
                                br
                                |• Highlighted cache system functionality and implemented it which resulted in 3X times faster response
                        .flex-shrink-0
                            span.text-primary July 2010 - December 2011

            hr.m-0

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 Education

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 University of Central Florida, USA
                            .subheading.mb-3 Masters - Computer Science - AI
                            div Relevant Coursework: AI, Machine Learning, Data mining, Design analysis of Algorithm
                        .flex-shrink-0
                            span.text-primary Aug 2019 - May 2021

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 University of Pune, INDIA
                            .subheading.mb-3 BE - Information Technology
                            div Relevant Coursework: Data Structures, Cloud Computing, Database
                        .flex-shrink-0
                            span.text-primary Aug 2013 - Jun 2017

            hr.m-0

            // Skills
            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 Skills
                    .subheading.mb-3 Programming Languages & Tools
                    ul.list-inline.dev-icons
                       ul.list-inline.dev-icons
                        li.list-inline-item
                            i.fab.fa-html5
                            span.icon-text HTML5
                        li.list-inline-item
                            i.fab.fa-css3-alt
                            span.icon-text CSS3
                        li.list-inline-item
                            i.fab.fa-js-square
                            span.icon-text JavaScript
                        li.list-inline-item
                            i.fab.fa-node-js
                            span.icon-text Node.js
                        li.list-inline-item
                            i.fab.fa-sass
                            span.icon-text Sass
                        li.list-inline-item
                            i.fab.fa-wordpress
                            span.icon-text WordPress
                        li.list-inline-item
                            i.fab.fa-grunt
                            span.icon-text Grunt
                        li.list-inline-item
                            i.fab.fa-npm
                            span.icon-text npm
                        li.list-inline-item 
                            i.fas.fa-robot
                            span.icon-text Machine Learning
                        li.list-inline-item 
                            i.fas.fa-code 
                            span.icon-text VSCode
                        li.list-inline-item 
                            i.fab.fa-python
                            span.icon-text Python
                        li.list-inline-item 
                            i.fab.fa-java
                            span.icon-text Java
                        li.list-inline-item 
                            i.fab.fa-database
                            span.icon-text PL-SQL
                        li.list-inline-item 
                            i.fab.fa-cuttlefish
                            span.icon-text C++
                        li.list-inline-item 
                            i.fas.fa-comment-alt
                            span.icon-text Conversational AI
                        li.list-inline-item 
                            i.fas.fa-robot
                            span.icon-text Chat GPT 3
                        li.list-inline-item 
                            i.fas.fa-robot
                            span.icon-text Generative AI
                        li.list-inline-item 
                            i.fas.fa-network-wired
                            span.icon-text REST API
                        li.list-inline-item 
                            i.fa-bots
                            span.icon-text Bot development
                        li.list-inline-item 
                            i.fas.fa-link
                            span.icon-text Webhook channels
                        li.list-inline-item 
                            i.fab.fa-aws
                            span.icon-text AWS
                        li.list-inline-item 
                            i.fas.fa-database
                            span.icon-text Database technology
                        li.list-inline-item 
                            i.fab.fa-database
                            span.icon-text Postgres
                        li.list-inline-item 
                            i.fas.fa-server
                            span.icon-text Redis
                        li.list-inline-item 
                            i.fab.fa-cloud
                            span.icon-text Cloud Computing
                        li.list-inline-item 
                            i.fas.fa-tasks
                            span.icon-text Scrum
                        li.list-inline-item 
                            i.fas.fa-code-branch
                            span.icon-text SDLC
                        li.list-inline-item 
                            i.fas.fa-paper-plane
                            span.icon-text Postman
                        li.list-inline-item 
                            i.fab.fa-linux
                            span.icon-text Linux
                        li.list-inline-item 
                            i.fas.fa-tachometer-alt
                            span.icon-text Agile


                    .subheading.mb-3 Workflow
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Bot Development & Dialog management 
                        li
                            span.fa-li
                                i.fas.fa-check
                            | NLP, Model fine tuning 
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Cross Browser Testing & Debugging
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Cross Functional Teams
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Agile Development & Scrum

            hr.m-0

            // Interests
            section#interests.resume-section
                .resume-section-content
                    h2.mb-5 Interests
                    p
                        | Apart from being a SDE, I enjoy most of my time being outdoors. I  prefer going to a beach and taking road trips.
                    p.mb-0
                        | When forced indoors, I follow a number of sci-fi and fantasy genre movies and television shows, I am an aspiring chef, and I spend a large amount of my free time exploring the latest technology advancements in the AI world.

            hr.m-0

            // Projects
            section#projects.resume-section
                .resume-section-content
                    h2.mb-5 Projects
                    ul.fa-ul.mb-0.d-flex.flex-wrap
                        li.mb-4
                            span.fa-li
                                i.fas.fa-cogs.text-primary
                            .project-info
                                h4 KG Generator Tool V2
                                p
                                    |  KG Generator V2, brings advanced enhancements to our Knowledge Graph (KG) system. This version allows seamless integration of new Frequently Asked Questions (FAQs) while preserving the existing structure. Enjoy precise control, including editing, deletion, and comprehensive KG rebuilds. With scalability in mind, it manages millions of questions, diverse entities, and attributes. A user-friendly interface streamlines KG management, ensuring accuracy, reliability, and easy updates
                        li.mb-4
                            span.fa-li
                                i.fas.fa-cogs.text-primary
                            .project-info
                                h4 Personal Tweet Classification NLP Deep Learning
                                p
                                    |  Implemented a deep learning model for classifying personal tweets using Natural Language Processing (NLP). The model achieved high accuracy and successfully differentiated personal tweets from non-personal ones.
                        li.mb-4
                            span.fa-li
                                i.fas.fa-cogs.text-primary
                            .project-info
                                h4 Animated chatbot Avatar 
                                p
                                    |   chatbot avatar offers a seamless and intuitive way to interact, providing information and answering questions with flair. Watch as this avatar comes to life, adding a delightful dimension to your experience while delivering accurate and helpful responses. Say hello to the future of interactive communication with our animated chatbot avatar.

            hr.m-0
            
            //Awards
            section#awards.resume-section
                .resume-section-content
                    h2.mb-5 Awards 
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Award For Excellence
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Excellent Website
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            
                            sup st 
                            | Won regional football tournaments  
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | 1
                            sup st 
                            | SEO and Niche Blogger 


        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')